{% extends 'main.html' %}
{% block content %}
  <!-- Main Section -->
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{ unread_count }}</span>)</h3>
      <ul class="messages">
         {% for item in message %}
          <li class="message {%if item.is_read == True  %}"> {% else %} message--unread"> {% endif %}
          <a href="{% url "view_message" item.id %}">
            <span class="message__author">{{ item.name}}</span>
            <span class="message__subject">{{ item.subject }}</span>
            <span class="message__date">{{ item.created}}</span>
          </a>
        </li>
         {% endfor %}
      </ul>
    </div>
  </main>
{% endblock %}